<h1>Dashboard</h1>
<hr>
<%= link_to "Discover Movies", discover_path %>
<br>

<h2>Friends</h2>
<!-- form to add friend -->

<h2>Viewing Parties</h2>
<p>My Viewing Parties</p>
<!--
link_to movie
date/time
You are the host
list of invited friends
-->

<p>Viewing Party Invites</p>
<!--
link_to movie
date/time
host
list of invited friends
-->


<hr><br>