<h1>Dashboard</h1>
<hr>
<%= link_to "Discover Movies", discover_path %>

<%= link_to 'Log Out', logout_path %>

<br>

<section id="friends">
  <h2>Friends</h2>
</section>

<section id="viewing-parties">
  <h2>Viewing Parties</h2>
  <div id="my-parties">
    <p>My Parties</p>
  </div>

  <div id="party-invites">
    <p>Viewing Party Invites</p>
  </div>
</section>

<hr><br>
