<h1>Movies</h1>
<hr><br>

<section id="top-40">
  <h2>Top 40 Movies</h2>
  <% @movies1.each do |movie| %>
    <h3><%= movie.title %></h3>
    <p>Vote Average: <%= movie.vote_average %></p>
    <br>
  <% end %>
  <% @movies2.each do |movie| %>
    <h3><%= movie.title %></h3>
    <p>Vote Average: <%= movie.vote_average %></p>
    <br>
  <% end %>
</section>