<h1>Welcome to Viewing Party!</h1>

<p>Where you can search for top movies and create events to view movies with your friends</p>

<center><img src="https://images.pexels.com/photos/3131971/pexels-photo-3131971.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="popcorn and movie" height="600"> <img src="https://images.pexels.com/photos/3537844/pexels-photo-3537844.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="popcorn and movie" height="600"></center>
