/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #355c7d;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: snow;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

nav {
  font-size: 36px;
  color: snow;
  background-color: #355c7d;
  padding: 15px 15px;
}

#login {
  margin: 0px auto 0px auto;
  padding: 15px;
  width: 80%;
  display: block;
  text-align: right;
  font-size: .5em;
  color: snow;
  float: right;
}

form {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  text-align: center;
  margin: 25px auto;
  padding: 15px;
  width: 60%;
  border: 2px solid #f8b195;
  border-radius: 10px;
}

input[type = submit] {
  align-items: center;
  text-align: center;
  margin: 25px auto;
  padding: 10px;
  width: 50%;
  border: 2px solid #f8b195;
  border-radius: 10px;
  background-color: #f8b195
}

input[type = submit]:hover {
  text-decoration: underline;
  color: #c06c84
}

input, select {
  padding: 4px;
  margin: 6px
}

h1 {
  font-size: 2em;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
}

h2 {
  margin: 2px auto;
  padding: 2px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}

h3 {
  margin: 4px auto;
  padding: 6px;
  width: 80%;
  color: snow;
  font-size: 1.2em;
  text-transform: capitalize;
  background-color: #355c7d;
  border-radius: 5px;
}

h5 {
  margin: 0px auto 1px auto;
  padding: 10px;
  width: 100%;
  display: block;
  text-align: left;
  font-size: 1em;
}

p {
  margin: 0px auto 10px auto;
  padding: 5px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1em;
}

#no-friends {
  margin: 0px auto 10px auto;
  padding: 5px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1em;
  color: #f8b195
}

a {
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5px;
  color: #f67280
}

a:hover {
  text-decoration: underline;
  color: #c06c84
}
